#intro {
    height: 100vh; //화면을 100등분해서 채웠다는 의미
}

.intro__inner {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column; //줄바꿈을 해주어 선이 글씨 밑으로 나오게 하기 위함
    padding: 16px;
    margin-top: 60px;

    @media (max-width: 800px){
        justify-content: center;// pc화면에서는 내려가 있다가 핸폰 화면에서는 중앙에 위치

    }
    
    .intro__title {
        font-size: 9.7vw;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 800;
        white-space: nowrap;//글씨 한줄 만들기
        text-indent: -0.5vw; //글씨 들여쓰기
        letter-spacing: -0.3vw;

        @media(max-width: 600px){
            font-size: 8vw;
        }

        @media(max-width: 320px){
            display: none;
        }
    }
    .intro__text {
        width: 100%;
        height: 40vh;
        background-color: var(--black);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .text{
            font-size: 3vw;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
            text-decoration: underline;
            text-align: center;
            position: relative;
            z-index: 100;
            transition: all 0.3s;
            cursor: all-scroll;
            margin-left: 150px;
    
           
            @media(max-width: 800px){
                font-size: 25px;
                white-space: nowrap;     
            }
        }

        
        .img {
            position: absolute;
            left: 20%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            overflow: hidden;
            filter: grayscale(100%);//완전히 흑백으로 처리하게 하는 것이다.
            transition: all 0.3s;

            @media(max-width: 1116px){
                width: 30vh;
                height: 30vh;
            }

            @media(max-width: 400px){
                width: 15vh;
                height: 15vh;
            }
          
          

        }
        .mini__image {
                display: flex;
                

                .img1{    
                    position: absolute;
                    left: 50%;
                    top: 26%;
                    transform: translate(-50%, -50%);
                    width: 16vh;
                    height: 16vh;
                    border-radius: 50%;
                    overflow: hidden;
                    transition: all 0.3s;
                    opacity: 0;
                   

                    @media(max-width: 1000px){
                        width: 10vh;
                        height: 10vh;
                    }
                    @media(max-width: 977px){
                       
                        margin-right: 10px;
                    }
                }
                .img2{    
                    position: absolute;
                    left: 65%;
                    top: 26%;
                    transform: translate(-50%, -50%);
                    width: 16vh;
                    height: 16vh;
                    border-radius: 50%;
                    overflow: hidden;
                   
                    transition: all 0.3s;
                    opacity: 0;
                    
                    @media(max-width: 1000px){
                        width: 10vh;
                        height: 10vh;
                    }
                }
                .img3{    
                    position: absolute;
                    left: 80%;
                    top: 26%;
                    transform: translate(-50%, -50%);
                    width: 16vh;
                    height: 16vh;
                    border-radius: 50%;
                    overflow: hidden;
                    transition: all 0.3s;
                    opacity: 0;

                    @media(max-width: 1000px){
                        width: 10vh;
                        height: 10vh;
                    }
                }
        }
        .mini__image2 {
            display: flex;
            h1 {
                font-size: 1vw;
            }
           
            .img4{    
                position: absolute;
                left: 50%;
                top: 75%;
                transform: translate(-50%, -50%);
                width: 16vh;
                height: 16vh;
                border-radius: 50%;
                overflow: hidden;
                transition: all 0.3s;
                opacity: 0;

                @media(max-width: 1000px){
                    width: 10vh;
                    height: 10vh;
                }
            }
            .img5{    
                position: absolute;
                left: 65%;
                top: 75%;
                transform: translate(-50%, -50%);
                width: 16vh;
                height: 16vh;
                border-radius: 50%;
                overflow: hidden;
               
                transition: all 0.3s;
                opacity: 0;

                @media(max-width: 1000px){
                    width: 10vh;
                    height: 10vh;
                }
            }
            .img6{    
                position: absolute;
                left: 80%;
                top: 75%;
                transform: translate(-50%, -50%);
                width: 16vh;
                height: 16vh;
                border-radius: 50%;
                overflow: hidden;
                transition: all 0.3s;
                opacity: 0;

                @media(max-width: 1000px){
                    width: 10vh;
                    height: 10vh;
                }
            }
    }


        
        
        &:hover .text {
            opacity: 0;
        }
        &:hover .text2, &:hover .img1, &:hover .img2, &:hover .img3 
        , &:hover .img4, &:hover .img5, &:hover .img6{
            opacity: 1;
        }

        &:hover .img {
            filter: grayscale(0);
        }
    }
    .intro__lines {
       width: 100%;
       

       .line {
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--black);
            margin-bottom: 0.5vw;

            &:nth-child(1) {
                height: 1px;
            }
            &:nth-child(2) {
                height: 2px;
            }
            &:nth-child(3) {
                height: 5px;
            }
            &:nth-child(4) {
                height: 9px;
            }
            &:nth-child(5) {
                height: 9px;
            }
            &:nth-child(6) {
                height: 17px;
            }

            &:nth-child(7) {
                height: 25px;
            }
        }

        &.bottom {
           .line { 
                margin-top: 0.5vw;
                margin-bottom: 0;
                display: none;

                @media (max-width: 1000px){
                    display: block;
                }

                &:nth-child(1){
                    height: 25px;
                }
                &:nth-child(2){
                    height: 17px;
                }
                &:nth-child(3){
                    height: 13px;
                }
                &:nth-child(4){
                    height: 9px;
                }
                &:nth-child(5){
                    height: 5px;
                }
                &:nth-child(6){
                    height: 2px;
                }
                &:nth-child(7){
                    height: 1px;
                }
            }
        }
    }
}